# I like nano.  Deal with it.
**/*.swp

# Transient node files
**/node_modules/
package-lock.json
yarn.lock

.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
.pnp.cjs
.pnp.loader.mjs

# Build output
**/dist/
**/types/
.cache/
**/tsconfig.tsbuildinfo
